.App {
  text-align: center;
  /* height: 100%; */
  /* // */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main{
  height: 100%;
}

footer ul {
  list-style: none;
  font-family: Open Sans,sans-serif;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 15px;
}

footer li {
  margin-right: 40px;
  color: #eddac9;
}
