.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  flex: 1;
  display: flex;
}

footer ul {
  list-style: none;
  font-family: Open Sans,sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

footer li {
  margin-right: 40px;
  flex: 1;
  color: #263238;
}

@media (max-width: 560px){

  .profile-vid-container {
    height: 0;
    padding-top: 66.666%;
  }

  .profile-vid-container .profile-video {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
  }

}
